
@{
    ViewBag.Title = "Home";
    ViewBag.active = 1;
    Layout = "~/Views/Share/LayoutUser.cshtml";
}

<div class="content">

    <h1>Best Sellers</h1>
    <div class="float-left">
        <img src="~/image/ASUS-ROG-Strix-SCAR-17.jpg" alt="ROG Strix Scar 17 (2023) G733"/>
    </div>

    <div class="float-right">
        <h2>Thông số chi tiết</h2>
        <p>
            Hệ điều hành: Windows 11 Home
        </p>
        <p>
            Màn hình: 17,3-inch, WQHD (2560 x 1440) 16:9
                        Mức IPS, Màn hình chống chói,- DCI-P3:100%
                        Tần số làm tươi: 240Hz
        </p>
        <p>
            Đồ họa: GPU NVIDIA® GeForce RTX™ 4080
        </p>
        <p>
            Bộ vi xử lý: Bộ vi xử lý di động AMD Ryzen™ 9 7945HX (16 nhân/32 luồng, Bộ nhớ đệm 64MB L3)
        </p>
        <p>
            Bộ nhớ: 16GB DDR5-4800 SO-DIMM x 2
        </p>
        <p>
            Ổ lưu trữ:Ổ SSD 1TB PCIe® 4.0 NVMe™ M.2 hiệu năng cao
        </p>
        <p>
            Pin: 90WHrs, 4S1P, 4-cell Li-ion
        </p>
        <p>
            Mạng và kết nối: Wi-Fi 6E(802.11ax) (Ba băng tần) 2*2 + Bluetooth® 5.3
        </p>
        <p>
            Trọng lượng & Kích thước:3.00 Kg (6.61 lbs), 39.5 x 28.2 x 2.34 ~ 2.83 cm 
        </p>

    </div>

    <div style="clear: both;"></div>
</div>



<div class="content-2">

    <h1>More</h1>

    <div class="float-left-2">
        <img src="~/image/lenovo-thinkpad-p52.jpg" />

        <h3>Lenovo ThinkPad P52</h3>
        <p class="text-justify">
            CPU: Intel® Core™ i7 8850H Processor 2.30 GHz Upto 4.30GHz, 9MB Cache
            RAM: 32GB DDR4 2400MHz
            SSD: 1TB SSD M.2 2280 PCIe NVMe
            Màn hình: 15.6" IPS LED-Backlit FHD (1920 x 1080) IPS
            Card đồ họa: NVIDIA Quadro P1000 4GB GDDR5.
        </p>

        <p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>

        </p>
        <p>Giá: 16,900,000đ </p>


    </div>


    <div class="float-right-2">
        <img src="~/image/tuf-gaming-f15.jpg" />
        <h3>]Asus Tuf Gaming F15</h3>
        <p>
            CPU: i511400H2.7GHz
            RAM: 8 GBDDR4 2 khe (1 khe 8 GB + 1 khe rời)3200 MHz
            Ổ cứng:Hỗ trợ thêm 1 khe cắm SSD M.2 PCIe mở rộng (nâng cấp tối đa 1 TB)
                   512 GB SSD NVMe PCIe (Có thể tháo ra, lắp thanh khác tối đa 1 TB)
            Màn hình:15.6"Full HD (1920 x 1080) 144Hz
            Card màn hình:Card rời RTX 2050 4GB
            Đặc biệt:Có đèn bàn phím
            Hệ điều hành:Windows 11 Home SL
        </p>
        <p>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>


        </p>
        <p>Giá: 19,990,000đ </p>


    </div>

    <div style="clear: both; margin-bottom: 10px;"></div>

</div>

